@charset "utf-8";
/*
*Author zhaoxuhui
*/
.upload-container {
  width: 600px;
  margin: 0 auto;
  padding-top: 20px;
  position: relative;
}
.upload-container .nav span {
  display: inline-block;
  padding: 0 12px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}
.upload-container .nav span:nth-of-type(2) {
  margin-left: 10px;
}
.upload-container .nav span.active {
  border-bottom: none;
  background: #3498db;
  color: #fff;
}
.upload-container .head {
  margin: 20px 0;
}
.upload-container .head .insert-url,
.upload-container .head .upload-local {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload-container .head .insert-url label,
.upload-container .head .upload-local label {
  font-size: 14px;
  color: #333;
  padding-right: 12px;
}
.upload-container .head .insert-url input,
.upload-container .head .upload-local input {
  display: block;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 4px 8px;
  line-height: 24px;
  color: #333;
  background: #fff;
  border-radius: 4px;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.upload-container .head .upload-local {
  display: none;
}
.upload-container .body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
}
.upload-container .body .preview {
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
}
.upload-container .body .preview video {
  display: block;
  width: 100%;
  background: #ededed;
}
.upload-container .body .setting {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  padding: 10px 12px;
}
.upload-container .body .setting li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.upload-container .body .setting li:nth-of-type(1) {
  margin-bottom: 20px;
}
.upload-container .body .setting li label {
  font-size: 14px;
  color: #333;
  padding-right: 12px;
}
.upload-container .body .setting li input {
  display: block;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 4px 8px;
  line-height: 24px;
  color: #333;
  background: #fff;
  border-radius: 4px;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: lr-tb;
  writing-mode: horizontal-tb;
  text-rendering: auto;
  -webkit-transition: -webkit-box-shadow 2s;
  transition: -webkit-box-shadow 2s;
  transition: box-shadow 2s;
  transition: box-shadow 2s, -webkit-box-shadow 2s;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.upload-container .upload-local-loading {
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9999999;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: none;
}
.upload-container .c-loading {
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-animation: rotate 1s linear forwards infinite;
  animation: rotate 1s linear forwards infinite;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
.upload-container .c-loading span {
  float: left;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.upload-container .c-loading span i {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.upload-container .c-loading span:nth-of-type(1) i {
  background: #1786ff;
}
.upload-container .c-loading span:nth-of-type(2) i {
  background: #52a3fb;
}
.upload-container .c-loading span:nth-of-type(3) i {
  background: #93c3f8;
}
.upload-container .c-loading span:nth-of-type(4) i {
  background: #54a4fb;
}
@-webkit-keyframes rotate {
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  50% {
    opacity: 0.8;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=video.css.map */