@charset "utf-8";
/*
*Author zhaoxuhui
*/
.upload-box {
    width: 100%;
}
.upload-box .content {
    margin: 0 auto;
    background: #fff;
}
.upload-box .content .head {

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
    padding-top: 15px;
}
.upload-box .content .head span {
    display: inline-block;
    padding: 0 12px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.upload-box .content .head span:nth-of-type(2) {
    margin-left: 10px;
}
.upload-box .content .head span.active {
    border-bottom: none;
    background: #3498db;
    color: #fff;
}
.upload-box .content .head .empty {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.upload-box .content .head i {
    font-style: normal;
    font-size: 12px;
    padding-left: 12px;
    cursor: pointer;
    color: #555555;
}
.upload-box .content .head i:hover {
    color: #ed3f14;
}
.upload-box .content .body {
    height: 150px;
    display: none;
}
.upload-box .content .body-active{
    display: flex;
}
.upload-box .content .body.insert-url {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 12px;
}
.upload-box .content .body.insert-url input {
    display: block;
    border: 1px solid #ccc;
    font-size: 14px;
    padding: 4px 8px;
    line-height: 24px;
    color: #333;
    background: #fff;
    border-radius: 4px;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    text-rendering: auto;
    -webkit-transition: -webkit-box-shadow 2s;
    transition: -webkit-box-shadow 2s;
    transition: box-shadow 2s;
    transition: box-shadow 2s, -webkit-box-shadow 2s;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.upload-box .content .body.insert-url input:focus {
    border-color: #007acc;
}
.upload-box .content .body.insert-url input::-webkit-input-placeholder {
    color: #c1c1c1;
}
.upload-box .content .body.insert-url input:-ms-input-placeholder {
    color: #c1c1c1;
}
.upload-box .content .body.insert-url input::placeholder {
    color: #c1c1c1;
}
.upload-box .content .body.insert-url a {
    display: block;
    background: #007acc;
    color: #fff;
    line-height: 32px;
    height: 32px;
    font-size: 13px;
    padding: 0 12px;
    border-radius: 3px;
    margin-left: 20px;
    border: 1px solid #dddee1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
}
.upload-box .content .body.insert-url a:hover {
    background: #0169af;
}
.upload-box .content .body.upload-local {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 12px;
}
.upload-box .content .body.upload-local .upload-local-body {
    border: 2px dashed #dddee1;
    height:130px;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.upload-box .content .body.upload-local .upload-local-body span {
    font-size: 40px;
    color: #dddee1;
    line-height: 50px;
}
.upload-box .content .body.upload-local .upload-local-body p {
    font-size: 13px;
    line-height: 20px;
    color: #555555;
    height: 20px!important;
}
.upload-box .content .body.upload-local .upload-local-body:hover {
    border-color: #007acc;
}
.upload-box .content .body.upload-local .upload-local-body:hover p,
.upload-box .content .body.upload-local .upload-local-body:hover span {
    color: #007acc;
}
.upload-box .content .body.upload-local .upload-local-body input {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}
.upload-box .content .body.upload-local .upload-local-loading {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}
/*# sourceMappingURL=index.css.map */
.c-loading {
   margin: 0 auto;
    width: 40px;
    height: 40px;
    overflow: hidden;
    -webkit-animation: rotate 1s linear forwards infinite;
    animation: rotate 1s linear forwards infinite;
}
.c-loading span {
    float: left;
    width: 20px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.c-loading span i {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
.c-loading span:nth-of-type(1) i {
    background: #1786ff;
}
.c-loading span:nth-of-type(2) i {
    background: #52a3fb;
}
.c-loading span:nth-of-type(3) i {
    background: #93c3f8;
}
.c-loading span:nth-of-type(4) i {
    background: #54a4fb;
}
@-webkit-keyframes rotate {
    50% {
        opacity: 0.8;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate {
    50% {
        opacity: 0.8;
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*# sourceMappingURL=index.css.map */
